/* DISFRUTE MUCHISIMO ESTE CURSO! */

/* ------------------------------RESETEO GENERAL / GLOBALES------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* ------------------------------BODY / COMPONENTES / BOTONES------------------------------ */
body{
background-image: url(../img/background.jpg);
}
li {
    list-style: none;
}
li:hover {
    transform: scale(1.2);
}
video {
    width: 400px;
}

/* ------------------------------HEADER / BARRA DE NAVEGACION / LOGO------------------------------ */
.khalo-header {
    background-color: #fd6e8bad;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 40px;
}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color:#40202a
}
a:hover {
    color:#fd135a;
}
.khalo-header .nav-links .item-list:hover {
    transform: scale(1.1);
    color: #fd135a;
}
.logo-div {
    cursor: pointer;
}
.logo-div img {
    height: 70px;
    width: auto;
    transition: all 0.4s;
}
.logo-div img:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}
.header-form { 
    border-style: none;
}
input { 
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color:beige;
    background-color: #fd6e8bad;
    margin: 5px 5px;
}
input:hover {
    font-family: 'Nunito', sans-serif;
    color:#fd135a;
    background-color: white;
    transform: scale(1.1);
    transition: all 0.4s;
}

/* ------------------------------PAGINA INDEX------------------------------ */
.section-index {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5em;
    flex-wrap: wrap;
}
.card-index {
    background-color: #fd6e8bad;
    padding-bottom: 3em;
    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
    border-radius: 10px;
}
.card-index-content {
    width: 90%;
    margin: 0 auto;
}
.card-index-picture { 
    width: 90%;
    margin: 0 auto;
    background: cornflowerblue;
    position: relative;
    bottom: 2em;
}
.card-index-img {
    width: 100%;
    border-radius: 10px;
}
.card-index-text {
    margin-bottom: 1em;
}

/* ------------------------------PAGINA CATALOGO------------------------------ */
.section-producto { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-producto {
    width: 100%;
    text-align: center;
    margin: 20px;
    background-color: #fd6e8bad;
    border-radius: 10px;
}
.producto {
    text-align: center;
    background-color: #fd6e8bad;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.producto img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/* ------------------------------PAGINA CONTACTO------------------------------ */
.section-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-contacto {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 20px;
    background-color: #fd6e8bad;
    border-radius: 10px;
}
.contacto {
    background-color: #fd6e8bad;
    margin: 10px;
    text-align: center;
    justify-content:center ;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.contacto-mapa {
    overflow: hidden;
    background-color: #fd6e8bad;
    margin: 10px;
    text-align: center;
    justify-content:center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 30px;
}
.contacto img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.contacto-mapa img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

/* ------------------------------PAGINA DO IT YOURSELF------------------------------ */
.section-diy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-diy {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 20px;
    background-color: #fd6e8bad;
    border-radius: 10px;
}
.diy {
    background-color: #fd6e8bad;
    margin: 10px;
    text-align: center;
    justify-content:center ;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
}
.diyb {
    background-color: #fd6e8bad;
    margin: 10px;
    text-align: center;
    justify-content:center ;
    width: 500px;
    height: 800px;
    border-radius: 30px;
}

/* ------------------------------PAGINA VENDEDORAS------------------------------ */
.section-vendedoras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-vendedoras {
    width: 96%;
    text-align: center;
    justify-content: center;
    margin: 20px;
    background-color: #fd6e8bad;
    border-radius: 10px;
}

/* ------------------------------FOOTER------------------------------ */

footer {
    background-color: #fd6e8bad;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* ------------------------------MEDIA QUERIES------------------------------ */
@media (min-width: 0px) and (max-width: 599px) {
    .header-form {
        display: none;
    }
    
}
@media (min-width: 600px) and (max-width: 1200px) {
    .khalo-header {
        display: flex;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
    .header-form {
        display: none;
    }
}
@media (min-width: 1201px) {
    .khalo-header {
        display: flex;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
    }
    .header-form {
        display: block;
    }
}
